.git
.gitignore
.dockerignore
node_modules
dist
coverage
.wrangler
**/.wrangler
.config
**/.config
.cloudflare
**/.cloudflare
.dev.vars
.dev.vars.*
.env
.env.*
wrangler-oauth*
cloudflare-api-token*
*.log
*.pem
*.key
*.token
.DS_Store
